{% extends 'main/base.html' %}
{% load crispy_forms_filters %}

<!-- BLOCK: 'title' And Change The Title Of The Web Page. -->
{% block title %}
{% endblock %}

<!-- BLOCK: 'NotAuthenticated' Has Been Blocked To Ensure The Style Sheet Is Not Used. -->
{% block NotAuthenticated %}
{% endblock %}

<!-- BLOCK: 'sideBar' Has Been Blocked To Show A Side Navigation Bar With A Coloured Link. -->
{% block sideBar %}
    <div class="sideNavigationBar">
        <a href="/home">Home</a>
        <hr style="height: 3px">
        <a href="/add">Add</a>
        <hr style="height: 3px">
        <a href="/history">History</a>
        <hr style="height: 3px">
        <a href="/settings">Settings</a>
        <hr style="height: 3px">
        <a href="/logout">Logout</a>
        <hr style="height: 3px">
    </div>
{% endblock %}

<!-- BLOCK: 'mainStyling' Has Been Blocked To Change The Styling For The Main Class. -->
{% block mainStyling %}
    .main {
        margin-left:160px;
        padding:0 10px;
        overflow: auto;
    }

    .formColour {
        color: #FFFFFF;
    }
{% endblock %}

<!-- BLOCK: 'content' And Change The Content Of The Web Page. -->
{% block content %}
    <!-- DISPLAY: Display Page Title. -->
    <h1 style="text-align: center; color: #FFFFFF">Contact Page</h1>
    <hr style="height:3px;">

    <!-- METHOD: 'method' - Specifies Method To Be Used When Submitting Data. POST or GET. -->
    <!-- POST: 'POST' - Frontend To Backend (Secret Data Also, ENCRYPTS), get - Backend To Frontend (Retrieve). -->
    <!-- ACTION: 'action' - Which Page To Go To Once Form Is Submitted. -->
    <form method = "POST" action = "/contact" class="formColour" , style="font-family: abc,serif">
        {% csrf_token %}
        <textarea name="message" placeholder="message" style="width: 100%; height: 100px"></textarea>
        <button style = "background-color: #303030; width: 100%; border-color: #FAB162; border-width: 3px;" type = "submit" name = "submitButton" class="btn btn-success"><span style='font-family: abc, sans-serif'>Send Mail</span></button> <!-- Submit Button Is Required Django Form Doesn't Provide. -->
    </form>
    <hr style="height:3px;">
{% endblock %}