{% extends 'main/base.html' %}
{% load crispy_forms_filters %}

<!-- BLOCK: 'title' And Change The Title Of The Web Page. -->
{% block title %}
    Settings Page - Edit Profile!
{% endblock %}

<!-- BLOCK: 'NotAuthenticated' Has Been Blocked To Ensure The Style Sheet Is Not Used. -->
{% block NotAuthenticated %}
{% endblock %}

<!-- BLOCK: 'sideBar' Has Been Blocked To Show A Side Navigation Bar With A Coloured Link. -->
{% block sideBar %}
    <div class="sideNavigationBar">
        <a href="/home">Home</a>
        <hr style="height: 3px">
        <a href="/add">Add</a>
        <hr style="height: 3px">
        <a href="/history">History</a>
        <hr style="height: 3px">
        <a href="/settings" style="color: #FAB162">Settings</a>
        <hr style="height: 3px">
        <a href="/logout">Logout</a>
        <hr style="height: 3px">
    </div>
{% endblock %}

<!-- BLOCK: 'mainStyling' Has Been Blocked To Change The Styling For The Main Class. -->
{% block mainStyling %}
    .main {
        margin-left:160px;
        padding:0 10px;
        overflow: auto;
    }

    .formColour {
        color: #FFFFFF;
    }
{% endblock %}

<!-- BLOCK: 'content' And Change The Content Of The Web Page. -->
{% block content %}
    <!-- DISPLAY: Display Page Title. -->
    <h1 style="text-align: center; color: #FFFFFF">Your <span style="color: #FAB162">Settings</span> {{ user.first_name }} !</h1>
    <hr style="height:3px;">

    <!-- METHOD: 'method' - Specifies Method To Be Used When Submitting Data. POST or GET. -->
    <!-- POST: 'POST' - Frontend To Backend (Secret Data Also, ENCRYPTS), get - Backend To Frontend (Retrieve). -->
    <!-- ACTION: 'action' - Which Page To Go To Once Form Is Submitted. -->
    <form method = "POST" action = "" class="formColour">
        <h1>Edit Profile</h1>
        <hr style="height:3px;">
        {% csrf_token %}  <!-- CSRF_TOKEN: Required When Making Use Of Forms To Not Run Into Issues. Security Reasons. -->
        {{ form|crispy }} <!-- CRISPY_FORMS STYLING: Apply The 'crispy_forms' Styling To The Passed In Form. -->

        <!-- SUBMIT BUTTON: Submit Button Is Required As Django Form Doesn't Provide. -->
        <button style = "background-color: #303030; width: 100%; border-color: #FAB162; border-width: 3px;" type = "submit" name = "submitButton" class="btn btn-success"><span style='font-family: abc, sans-serif'>Save Changes</span></button> <!-- Submit Button Is Required Django Form Doesn't Provide. -->
    </form>
    <hr style="height:3px;">

    <a style = "background-color: #303030; width: 100%; border-color: #FAB162; border-width: 3px;" href="/settings" class="btn btn-success">Go Back !</a>
    <hr style="height:3px;">
{% endblock %}

